<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="scripts">
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastBox" style="z-index: 1080"></div>
    <button type="button" class="back-to-top" id="backToTop" aria-label="Lên đầu trang"><i class="bi bi-arrow-up"></i></button>
    <script th:src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/app.js(v=8)}"></script>
    <script th:src="@{/js/consult-widget.js(v=3)}"></script>
</th:block>
